# Unreal build output
UnrealAISystem/Binaries/
UnrealAISystem/Build/
UnrealAISystem/Intermediate/
UnrealAISystem/Saved/
UnrealAISystem/DerivedDataCache/
UnrealAISystem/FileOpenOrder/

# Visual Studio
.vs/
*.user
*.suo

# Compiled files
*.pdb
*.exp
*.lib

# Unreal packaged builds
*.pak
*.sig
